---
---

@import "variables";

body {
  max-width: 700px;
  margin: auto;
  background-color: $blue;
  font-family: skia;
  color: $white;
}

.header-container {
  display: flex;
  margin-top: 5px;
  flex-direction: column;
  align-items: center;
}

.header-icons {
  color: $black;
  font-size: 20px;
  margin-bottom: 4px;
}

.post-list-item {
  color: $orange;
  display: flex;
  flex: 'row';
  justify-content: space-between;

  .link {
    color: $orange;
    text-decoration: none;
    font-family: skia;
    font-size: 20px;
  }
}