---
---

@import "variables";

body {
  max-width: 700px;
  margin: auto;
  background-color: $blue;
  font-family: skia;
  color: $black;
}

.header-container {
  display: flex;
  margin-top: 5px;
  flex-direction: column;
  align-items: center;
}

.header-blurb {
  color: $black;
  font-size: 20px;
  margin-bottom: 4px;
  text-decoration: none;
}

.header-icons {
  color: $black;
  font-size: 20px;
  margin-bottom: 4px;
  text-decoration: none;
}

.header-icons:hover {
  color: $orange;
}

.grid {
  display: flex;
  flex-wrap: wrap;

  &-item {
    width: 100%;
    color: $orange;
    background-color: $white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 2%;
    align-items: center;

    @media (min-width: 30rem) {
      width: 49%;
      &:nth-child(odd) {
        margin-right: 2%;
      }
    }

    &:before {
      content: "";
      float: left;
      padding-top: 50%;
    }

  }

}


.post-link {
  color: $white;
  text-decoration: none;
  font-family: skia;
  font-size: 20px;
}

