---
---

@import "variables";
@import "_syntax_highlighting";

body {
  max-width: 700px;
  margin: auto;
  background-color: $blue;
  font-family: skia;
  color: $black;
}

h1 {
  font-size: 40px;
}

a {
  text-decoration: none;
  color: $blue;
  border-bottom: 1px dotted;
}

article {
  background-color: $white;
  padding: 2%;
  margin-top: 2%;
  overflow-x: auto;
  border-radius: 10px;
}

p {
  line-height: 1.35;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}

iframe {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}

.header-container {
  display: flex;
  background-color: $blue;
  margin-top: 5px;
  flex-direction: column;
  align-items: center;

  .blurb {
    color: $black;
    font-size: 20px;
    margin-bottom: 4px;
  }
  
  .icons {
    fill: $black;
    margin-bottom: 4px;
  }
  
  .icons:hover {
    fill: $orange;
  }

}

.footer-container {
  display: flex;
  background-color: $blue;
  margin-top: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .blurb {
    color: $black;
    font-size: 15px;
  }
  
  .icons {
    fill: $black;
    font-size: 20px;
    margin-bottom: 4px;
    text-decoration: none;
    border-bottom: none;
  }
  
  .icons:hover {
    fill: $orange;
  }

}

.icon-descriptions {
  min-height: 20px;
  color: $orange;
  margin-top: 2px;
}

.grid {
  margin-top: 2%;
  display: grid;
  justify-items: center;
  align-items: center;
  

  &-link {
    text-decoration: none;
  }

  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: dashed;
    border-color: transparent;
    border-width: 1px;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    width: fit-content;
  }

  &-item:hover {
    border-color: $black;
  }
  
  &-image {
    border-radius: 10px;
    margin-bottom: 2%;
    height: auto;
  }

  &-month-year-title {
    color: $orange;
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: skia;
    color: $black;
    padding-top: 3%;
    

    @media screen and (max-width: 400px) {
      font-size: 14px;
    }

  }

  &-post-title {
    color: $orange;
    display: flex;
    justify-content: center;
    font-size: 23px;
    font-family: skia;
    color: $white;
    padding-bottom: 1%;
    

    @media screen and (max-width: 400px) {
      font-size: 12px;
    }

  }


  &-post-tags {
    color: $orange;
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-family: skia;
    color: $orange;
    

    @media screen and (max-width: 400px) {
      font-size: 10px;
    }

  }

}

.banner {
  
  visibility: hidden;
  background-color: $orange;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 15px;
  
  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    margin: auto;
  }

  &-text {
    text-align: center;
    padding: 3px;
    font-size: 15px;
    flex: 1;
    font-weight: bold;
    color: $black
  }

  &-buttons-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    width: 100%
  }

  &-dismiss {
    color: $black;
    text-decoration: none;
    border-bottom: none;
    cursor: pointer;
  }

  &-privacy-policy {
    color: $black;
    text-decoration: none;
    border-bottom: none;
  }

}

