<div id=cookie-banner class=banner>
  <div class=banner-content>
      <span class=banner-text>
          This site uses cookies for things like Google Analytics. You can view the Privacy Policy by clicking the cookie.
      </span>
      <div class=banner-buttons-container>
        <div id=banner-dismiss class=banner-dismiss><i class="fas fa-times"></i></div>
        <a class=banner-privacy-policy href="{{ site.url }}/privacy_policy.html"><i class="fas fa-cookie"></i></a>
    </div>
  </div>
</div>