
<header>
	<div class=header-container>
		<a href="{{ site.baseurl }}">
				<img src="/assets/kettle_orange.png" style="width: 100px"	/>
		</a>
		<span class=header-blurb>
			Will Rogers. Blog to learn.
		</span>
		<span class=header-icons>
				<a class="header-icons" href="https://github.com/{{ site.github_username }}"><i class="fab fa-github"></i></a>
				<a class="header-icons" href="https://twitter.com/{{ site.twitter_username }}"><i class="fab fa-twitter"></i></a>
				<a class="header-icons" href="mailto:{{site.email}}"><i class="fas fa-envelope"></i></a>
		</span>
	</div>
</header>