
<header>
	<div class=header-container>
		<a href="{{ site.url }}">
				<img src="/assets/img/kettle_orange.png" style="width: 100px"	/>
		</a>
		<span class=blurb>
			Will Rogers. Blog to learn.
		</span>
		<span>
				<a id=about class=icons href="{{ site.url }}/about.html">
					<svg style="width:24px;height:24px" viewBox="0 0 24 24">
						<path  d="{{site.data.svg_icons.about.svg_path}}" />
					</svg>
				</a>
				<a id=github class=icons href="https://github.com/{{ site.github_username }}">
					<svg style="width:24px;height:24px" viewBox="0 0 24 24">
						<path  d="{{site.data.svg_icons.github.svg_path}}" />
					</svg>
				</a>
				<a id=twitter class=icons href="https://twitter.com/{{ site.twitter_username }}">
					<svg style="width:24px;height:24px" viewBox="0 0 24 24">
						<path  d="{{site.data.svg_icons.twitter.svg_path}}" />
					</svg>
				</a>
				<a id=email class=icons href="mailto:{{site.email}}">
					<svg style="width:24px;height:24px" viewBox="0 0 24 24">
						<path  d="{{site.data.svg_icons.email.svg_path}}" />
					</svg>
				</a>
		</span>
		<span id=icon_detail class=icon-descriptions> </span>
	</div>
</header>