<!DOCTYPE html>
<html>
{% include head.html %}

<body>
	{% include header.html %}
	<main>
			{{ content }}
			{% assign post_count = 0 %}
			{% assign new_row = 0 %}
			<div class=grid>
				{% for post in site.posts %}
					<div class=grid-item style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url({{ post.image }})">
						<time>{{ post.date | date: "%b %-d, %Y" }}</time>
						<a class=post-link href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
					</div>
				{% endfor %}
			</div>
	</main>
</body>

</html>